*
{
	box-sizing: border-box;
	margin:0;
}

.clearing_div
{
	clear:both;
}
.sidebar
{
	position: fixed;
	height: 100vh;
	width: 18vw;
	background-image: url("images/3_6.png");
	background-size: 100% 100%;
}

.sidebar p:hover
{
	background-color: green;
}

.club_logo
{
	position: relative;
	height: 7%;
	width: 28%;
	top:5%;
	left:35%;
}

.side_bullet
{
	display:inline-block;
	width: 5%;
}

.account_options
{
	position:relative;
	top: 7%;
	padding-left: 5%;
	color: white;
}

.investment_type
{
	position:relative;
	top:10%;
	padding-left: 5%;
	color: white;
}

.investment_booking
{
	position:relative;
	top:15%;
	padding-left: 5%;
	color: white;
}

.fund_details
{
	position:relative;
	top:17%;
	padding-left: 5%;
	color: white;
}

.transactions
{
	position:relative;
	top:17%;
	padding-left: 5%;
	color: white;
}

.emailus
{
	position:relative;
	top:17%;
	padding-left: 5%;
	color: white;
}

.topbar
{
	font-size: 2.5vh;
	padding: 1vh;
	border: 0;
	margin:left: 0;
	margin-right: 0;
	margin-bottom: 1.5vh;
	height: 6vh;
	width: 81vw;
	float: right;
	//background-color: blue;
	border-bottom: solid silver 0.5px;
	text-align: left center;
	position: fixed;
	left: 19vw;
	background-color: white;
	z-index: 1;
}

.topbar div
{
	float:right;
	z-index: 2;
	padding-right: 1vw;
}

.topbar p
{
	font-size: 1.25vh;
}

.topbar p:nth-of-type(2)
{
	text-decoration: underline;
	color:blue;
}

.others
{
	position: relative;
	float:right;
	top:7vh;
	width:80vw;
}

.invest_status
{
	display: -webkit-flex;
    display: flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
	height: 7.6vh;
	width: 78vw;
	//background-color: green;
	border: solid silver 1px;
	padding: 0;
	margin:0; 
}

.invest_status_img
{
	float: left;
}

.invest_status_child
{
	margin-top:0.38vh;
	margin-bottom:0.38vh;
	padding-left: 2.34vw;
	padding-top: 1.14vh;
	width:19.5vw;
	height: 6.84vh; 
}

.invest_status_child p:nth-of-type(1)
{
	color: silver;
	font-size: 90%;
	padding-left: 25%;
}

.invest_status_child img:nth-of-type(2)
{
	position:relative;
	left:11%;
	top:5%;
}

.invest_status_child p:nth-of-type(2)
{
	display: inline-block;
	font-size: 90%;
	position: relative;
	left:12%;
}

.Amount_Invested
{
	border-right: solid silver 0.5px;
}
.Profit_Earned
{
	border-right: solid silver 0.5px;
}
.Wallet_Balance
{
	border-right: solid silver 0.5px;
}

.type_select
{
	display: -webkit-flex;
    display: flex;
    justify-content: flex-start;
    height: 5.3vh;
    width:78vw;
    border: solid silver 1px;
    padding: 0;
    margin: 0;
}

.type_select_child
{
	margin: 0;
	border-right:solid silver 0.5px;
	width: 13.7vw;
	height: 5.3vh;
	padding-left: 3%;
	padding-top: 0.795vh;
}

.type_select_child p
{
	color: silver;
	font-size: 90%;
	padding-left: 25%;
}


.type_select_child img
{
	float:left;
}

.type_select_child:hover
{
	border-bottom: solid green 1px;
}

.type_select_child:hover p
{
	color: green;
}

.sort_filter
{
	display: -webkit-flex;
    display: flex;
    justify-content: flex-start;
    position: relative;
    float: right;
    width: 12.7vw;
    height: 3.2vh;
    border: solid silver 1px;
    margin-top: 1.4vh;
    right: 1.9vw;
}

.sort_filter div
{
	width:100%;
	height:100%;
	padding-left: 5%;
}

.sort_filter img
{
	float:left;
	height:80%;
}

.sort_filter p
{
	margin-top: 5%;
	font-size: 80%;
	padding-left: 35%;
	color:gray;
}

.sort
{
	border-right: solid silver 0.5px;
}

.data_tile
{
	display: -webkit-flex;
    display: flex;
    justify-content: flex-start;
	width:95%;
	height:12.5vh;
	border: solid silver 1px;
	margin-left: 2.75%;
	margin-top: 2.75%;
}

.data_tile div:nth-of-type(1)
{
	height:12.5vh;
	margin:0;
	width:23%;
	border-right: solid silver 1px;
	background-color: #f3fbfb;
}

.data_tile div:nth-of-type(2)
{
	display: flex;
	height:6.25vh;
	margin:0;
	width:54%;
	padding:0;
}

.data_tile div:nth-of-type(2) div
{
	border:solid silver 0.5px;
	background-color: inherit;
	height:6.25vh;
	margin:0;
	width:25%;
}

.data_tile div:nth-of-type(3)
{
	border:solid silver 0.5px;
	height:6.25vh;
	margin:0;
	width:54%;
}

.data_tile div:nth-of-type(4)
{
	border:solid silver 0.5px;
	height:12.5vh;
	margin:0;
	width:23%;
}