*
{
	box-sizing: border-box;
	margin:0;
}

.clearing_div
{
	clear:both;
}
.sidebar
{
	position: fixed;
	height: 100vh;
	width: 18vw;
	background-image: url("images/3_6.png");
	background-size: 100% 100%;
}

.sidebar p:hover
{
	background-color: green;
}

.club_logo
{
	position: relative;
	height: 7%;
	width: 28%;
	top:5%;
	left:35%;
}

.side_bullet
{
	display:inline-block;
	width: 5%;
}

.account_options
{
	position:relative;
	top: 7%;
	padding-left: 5%;
	color: white;
}

.investment_type
{
	position:relative;
	top:10%;
	padding-left: 5%;
	color: white;
}

.investment_booking
{
	position:relative;
	top:15%;
	padding-left: 5%;
	color: white;
}

.fund_details
{
	position:relative;
	top:17%;
	padding-left: 5%;
	color: white;
}

.transactions
{
	position:relative;
	top:18%;
	padding-left: 5%;
	color: white;
}

.emailus
{
	position:relative;
	top:19%;
	padding-left: 5%;
	color: white;
}

#account_logo
{
	display:inline-block;
	width: 34px;
	height: 40px;
	background: url(Sprite_Image.png) -1003px -411px;
}
.sidebar_tile
{
	display: flex;
}

.sidebar_tile_text
{
	font-size: 140%;
	padding-left: 5%;
}

#investment_type_logo
{
	display:inline-block;
	width: 34px;
	height: 40px;
	background: url(Sprite_Image.png) -994px -358px;
}

#investment_booking_logo
{
	display:inline-block;
	width: 34px;
	height: 40px;
	background: url(Sprite_Image.png) -1046px -358px;
}

#fund_details_logo
{
	display:inline-block;
	width: 34px;
	height: 40px;
	background: url(Sprite_Image.png) -1097px -358px;
}

#transactions_logo
{
	display:inline-block;
	width: 34px;
	height: 40px;
	background: url(Sprite_Image.png) -1150px -358px;
}

#emailus_logo
{
	display:inline-block;
	width: 34px;
	height: 40px;
	background: url(Sprite_Image.png) -70px -520px;
}

.sidebar_tile:hover
{
	background-color: green;
}